html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: #fff;
  font-weight: 500;
  position: relative;
  line-height: 1.4;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
main {
  min-height: 100vh;
}
.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  font-size: 1.7rem;
  font-weight: 500;
  color: #fff;
  background-color: #ffb400;
  border-radius: 30px;
  padding: 13px 45px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.05rem;
  position: relative;
  transition: all 0.2s;
}
.btn i {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  right: 45px;
  transition: all 0.2s;
  opacity: 0;
}
.btn:hover i,
.btn:focus i {
  opacity: 1;
  right: 30px;
}
.btn:hover  {
  padding-left: 35px;
  padding-right: 55px;
}

/*** Page Titles ***/

/*** Navigation ***/

header {
  position: fixed;
  right: 15px;
  bottom: 0;
  display: flex;
  align-items: center;
  height: calc(100vh - 200px);
  top: 100px;
}
.nav-item {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  background-color: #2b2a2a;
  border-radius: 50%;
  transition: .25s;
  position: relative;
  margin-bottom: 15px;
}
.nav-item.active,
.nav-item:hover,
.nav-item.active i,
.nav-item:hover i {
  color: #fff;
}
.nav-item.active,
.nav-item:hover {
  background-color: #ffb400;
}
.nav-item i {
  color: #ddd;
  font-size: 2rem;
  transition: .25s; 
  display: block;
  cursor: pointer;
  /* interesting way to center below */
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}
.nav-item a {
  height: 50px;
  width: 50px;
}
.nav-item h2 {
  font-size: 1.6rem;
  font-weight: 500; 
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  color: #fff;
  line-height: 50px;
  font-weight: 500;
  transition: all .25s;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 0 34px 0 30px;
  height: 50px;
}
.nav-item:hover h2 {
  opacity: 1;
  right: 27px;
  text-align: center;
  border-radius: 30px 0 0 30px;
  background-color: #ffb400;
}


/*** Homepage ***/

.home .content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colour-block {
  height: 120vh;
  width: 400px;
  background-color: #ffb400;
  position: absolute;
  transform: rotate(-15deg);
  left: -200px;
}
.home .title-container {
  max-width: 600px;
  padding-left: 150px;
}
.home .title-container p {
  width: 130%;
}
.home h6, h1 {
  text-transform: uppercase;
}
.home h6 {
  color: #eee;
  font-size: 2.2rem;
  font-weight: 400;
}
.home h1 {
  font-size: 4.5rem;
  color: #ffb400;
  font-weight: 700;
  margin: 10px 0;
}
.home h1 span {
  color: #fff;
  font-weight: 600;
}
.home .title-container p {
  color: #eee;
  font-size: 1.7rem;
  line-height: 3.2rem;
  margin-bottom: 35px;
}

/*** Titles of all pages aside from the homepage ***/
.title-section {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.title-section h1 {
  font-size: 5.6rem;
  font-weight: 900;
  color: #fff;
  margin: 0; 
  line-height: 154px; /* matches the line height of the background text */
}
.title-section h1 span {
  color: #ffb400;
}
.title-section .title-background {
  font-size: 11rem;
  font-weight: 800;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: -5;
  letter-spacing: 1rem;
  color: rgba(255, 255, 255, 0.07);
}
main h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/*** About page ***/
.seperation {
  width: 50%;
  margin: 70px auto 60px auto;
  height: 1px;
  background-color: #252525;
}
.about h2 {
  text-align: center;
}
.about .wrapper {
  display: flex;
  flex-wrap: wrap;
}
.personal-info, .education {
  font-size: 1.6rem;
  width: 40%;
}
/* personal info section */
.personal-info .info-title {
  opacity: 0.8;
  margin-bottom: 3px;
}
.personal-info .info-description {
  margin-bottom: 10px;
}

/* education section */
.education {
  width: 60%;
}
.education li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}
.education .icon {
  width: 10%;
  background-color: #ffb400;
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 100;
}
.education .icon i {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.education li::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 20px;
  height: calc(100% - 40px);
  border-left: 1px solid #333;
  z-index: 0;
}
.education li:nth-child(2) {
  margin-bottom: 0;
}
.education-info {
  width: 85%;
}
.education-info .date {
  font-size: 1.2rem;
  background-color: #252525;
  padding: 3px 8px;
  border-radius: 8px;
  opacity: 0.8;
}
.education-info h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 15px 0;
}
.education-info h3 span {
  opacity: 0.8;
  font-size: 1.6rem;
}
.education-info p {
  font-size: 1.4rem;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
}

/* my skills section */
.my-skills {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.my-skills ul {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.my-skills li {
  display: flex;
  flex-direction: column;
  /* color: #ffb400; */
  font-size: 1.4rem;
}
.my-skills i {
  font-size: 6rem;
  margin-bottom: 10px;
  /* color: #fff; */
}
.my-skills i:hover {
  color: #ffb400;
}
.my-skills ul {
  background-color:rgba(255, 255, 255, 0.07);
  padding: 20px 0;
  border-radius: 10px;
}

/*** Contact page ***/
.contact .wrapper {
  display: flex;
  justify-content: space-between;
}
/* contact info */
.contact-info {
  width: 28%;
}
.contact-info h2 {
  font-size: 2.6rem;
}
.contact-info p {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 25px;
}
.contact-info .email {
  display: flex;
}
.contact-info .email i {
  color: #ffb400;
  font-size: 3.6rem;
  margin-right: 12px;
}
.contact-info .email span {
  text-transform: uppercase;
  opacity: 0.8;
  margin-right: 60%;
}
.contact-info .social-links ul {
  display: flex;
}
.contact-info .social-links li {
  
  margin-right: 10px;
}
.contact-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2a2a;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 2.1rem;
  transition: all 0.3s;
  cursor: pointer;
}
.contact-info .social-links a:hover {
  background-color: #ffb400;
}

/* contact form */
.contact-form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.contact-form input:nth-child(-n+5) {
  width: calc((100% / 3) - 20px);
  margin-bottom: 30px;
  padding: 20px 20px;
  color: #fff;
}
.contact-form input:nth-child(2),
.contact-form input:nth-child(3) {
  margin-right: 30px;
}
.contact-form textarea {
  min-width: 100%;
  padding: 20px 20px 0 20px;
  height: 160px;
  min-height: 60px;
  margin-bottom: 30px;
  overflow: hidden;
}
.contact-form input, 
.contact-form textarea {
  background-color: #252525;
  border: none;
  border-radius: 32px;
  color: #fff;
  font-size: 1.8rem;
  border: 1px solid #252525;
  transition: all 0.3s;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #ffb400;
}
.contact-form button[type="submit"] {
  background-color: #ffb400;
  text-transform: uppercase;
  border-radius: 32px;
  cursor: pointer;
  border: none;
}


/*** Projects page  ***/
.grid-gallery ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1000px;
  /* grid-gap: 20px; */
}
.grid-gallery li {
  width: 100%;
  
}
.grid-gallery figure {
  width: 100%;
}
.grid-gallery img {
  border-radius: 6px;
}

footer {
  background-color: #ffb400;
}